[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
python-on-whales = "~=0.78.0"

[requires]
python_version = "3.13"
python_full_version = "3.13"

[scripts]
# execute before test `pipenv sync --dev`
test = "python -m unittest tests.test_brew_offload"
