name: Update Homebrew Formula

on:
  push:
    tags:
      - '*'   # any tag

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tag.outputs.tag }}
      url: ${{ steps.tarball.outputs.url }}
      sha: ${{ steps.sha.outputs.sha }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: temp

      - name: Get tag name
        id: tag
        run: |
          TAG="${GITHUB_REF#refs/tags/}"
          echo "tag=$TAG" >> "$GITHUB_OUTPUT"

      - name: Build tarball URL
        id: tarball
        run: |
          REPO="${GITHUB_REPOSITORY}"
          TAG="${{ steps.tag.outputs.tag }}"
          URL="https://github.com/${REPO}/archive/refs/tags/${TAG}.tar.gz"
          echo "url=$URL" >> "$GITHUB_OUTPUT"

      - name: Compute sha256
        id: sha
        run: |
          URL="${{ steps.tarball.outputs.url }}"
          curl -L "$URL" -o source.tar.gz
          SHA256=$(shasum -a 256 source.tar.gz | awk '{print $1}')
          echo "sha=$SHA256" >> "$GITHUB_OUTPUT"

  tests:
    needs: prepare
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.13"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: temp

      - name: Install tools
        run: |
          make --directory=./ci

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tests
        run: |
          export PATH=${PATH}:${HOME}/.local/bin:/home/linuxbrew/.linuxbrew/bin
          set +e
          pipenv --rm || true
          pipenv lock --clear --python ${{ matrix.python-version }}
          pipenv sync
          pipenv sync --dev
          pipenv run python --version
          pipenv run test

  commit:
    needs: [prepare, tests]
    runs-on: ubuntu-latest
    if: ${{ needs.tests.result == 'success' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: temp

      - name: Update brew-offload.rb
        run: |
          FORMULA="./brew-offload.rb"
          URL="${{ needs.prepare.outputs.url }}"
          SHA="${{ needs.prepare.outputs.sha }}"

          sed -i "s|url \".*\"|url \"$URL\"|" "$FORMULA"
          sed -i "s|sha256 \".*\"|sha256 \"$SHA\"|" "$FORMULA"

      - name: Commit & push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add brew-offload.rb
          git commit -m "Update brew-offload.rb for tag ${{ needs.prepare.outputs.tag }}"
          git push origin HEAD:temp
